@charset "UTF-8";
/*==== Шрифты ===*/
@font-face {
  font-family: "Gotham";
  src: local("Gotham-Bold"), local("../font/Gotham-Bold"), url("../font/Gotham-Bold.woff2") format("woff2"), url("../font/Gotham-Bold.woff") format("woff"), url("../font/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham Medium"), local("../font/Gotham-Medium"), url("../font/Gotham-Medium.woff2") format("woff2"), url("../font/Gotham-Medium.woff") format("woff"), url("../font/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), local("../font/MontserratRegular"), url("montserrat.woff2") format("woff2"), url("montserrat.woff") format("woff"), url("montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("../font/MontserratBold"), url("montserratbold.woff2") format("woff2"), url("montserratbold.woff") format("woff"), url("montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
