.footer {
	&__top {
	}

	&__bottom {
		padding-top: 680px;
	}
}
.notebook {
	@include adaptive-value("padding-top", 320, 30, 0);
	@include adaptive-value("padding-bottom", 320, 30, 0);
	background: url("../img/footer/bg-purple.png") top/cover no-repeat;
	&__body {
		position: relative;
		display: flex;
	}

	&__logo {
		width: 177px;
		height: 177px;
		@include adaptive-value("margin-right", 38, 20, 0); //!
		img {
			width: 100%;
		}
	}

	&__text {
		color: #fff;
	}

	&__title {
		width: 50%;
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		@include adaptive-value("font-size", 60, 45, 0);
		font-weight: 700;
		line-height: 1;
		@include adaptive-value("margin-bottom", 40, 25, 0);
	}

	&__descr {
		width: 52%;
	}

	&__image {
		position: absolute;
		top: 10%;
		right: 0;
	}
}
.footer-bottom {
	&__body {
		color: #8297a7;
	}

	&__social {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include adaptive-value("margin-bottom", 60, 20, 0);
	}

	&__link {
		font-family: "FiraSans", sans-serif;
		font-size: 13px;
		font-weight: 700;
		text-align: right;
		color: #fff;
		padding: 10px 20px;
		border-radius: 3px;
		display: flex;
		align-items: center;
		opacity: 0.8;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
	}

	&__link--tw {
		background: #69b6f2;
		margin-right: 6px;
		&::before {
			content: "";
			display: inline-block;
			background: url("../img/icon/tweet.svg") center/cover no-repeat;
			width: 16px;
			height: 13px;
			margin-right: 7px;
		}
	}

	&__link--fb {
		background: #3a579a;
		&::before {
			content: "";
			display: inline-block;
			background: url("../img/icon/fb.svg") center/cover no-repeat;
			width: 10px;
			height: 16px;
			margin-right: 15px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		@include adaptive-value("margin-bottom", 45, 20, 0);
	}
	&__nav {
		display: flex;
	}
	&__list {
		&:first-child {
			margin-right: 83px;
		}
		li {
			opacity: 0.7;
			transition: opacity 0.3s ease-in-out;
		}
		li:not(:last-child) {
			margin-bottom: 15px;
		}
		li:hover {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
	}

	&__copy {
		small {
			display: block;
			text-align: right;
			font-size: 12px;
			margin-bottom: 15px;
			span {
				text-transform: uppercase;
				color: #28c8c6;
				font-weight: 700;
			}
		}
	}

	&__bottom {
		margin-bottom: 45px;
	}

	&__descr {
		font-size: 12px;
	}
}
@media (max-width: 1087px) {
	.notebook {
		&__title {
			width: 40%;
		}
		&__descr {
			width: 40%;
		}
	}
}
@media (max-width: 769px) {
	.footer {
		&__bottom {
			padding-top: 40px;
		}
	}
	.notebook {
		&__title {
			width: 100%;
		}
		&__descr {
			width: 100%;
		}
		&__image {
			display: none;
			visibility: none;
		}
	}
	.footer-bottom {
		&__body {
		}

		&__social {
			justify-content: flex-start;
		}

		&__link {
		}

		&__link--tw {
		}

		&__link--fb {
		}

		&__content {
			display: block;
		}

		&__nav {
			margin-bottom: 20px;
		}

		&__list {
		}

		&__copy {
			small {
				text-align: left;
			}
		}

		&__bottom {
		}

		&__descr {
		}
	}
}
